{% extends "layout.html" %}
{% block title %}Person Add/Edit{% endblock %}
{% block content %}
<div class="container beebook-form">
  {% if err_message %}
  <div class="alert alert-danger" role="alert">
    {{ err_message }}
  </div>
  {% endif %}
  <h2 class="title">Edit book</h2>
  <form action="" method="post" name="person_edit" class="obje-edit-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" required="required" value="{{ values['name'] }}">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" required="required" value="{{ values['surname'] }}">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender" name="gender" required="required">
        <option>F</option>
        <option>M</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date_of_birth">Date of Birth</label>
      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required="required" value="{{ values['date_of_birth'] }}">
    </div>
    <div class="form-group">
      <label for="nationality">Nationality</label>
      <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Nationality" required="required" value="{{ values['nationality'] }}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}